.booking-popup{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}

.booking-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.booking-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}

.booking-popup-title img{
    width: 16px;
    cursor: pointer;
}

.booking-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.booking-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}

.booking-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: #3987c9;
    font-size: 15px;
    cursor: pointer;
}

.booking-popup h3{
    margin: auto;
    color: black;
}

.booking-popup-slots-container-days{
    display: flex;
    gap: 3px;
    margin-top: 4px;
}

.booking-popup-slots-dates{
    color: #3987c9;
    cursor: pointer;
    padding-top: 6px;
    padding-bottom: 6px;
    margin: auto;
    flex-grow: 2;
    text-align: center;
}

.booking-popup-slots-times{
    color: #3987c9;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
    text-align: center;
    font-size: small;
}

.booking-popup-slots-container-days .active{
    background-color: #3987c9;
    color: white;
    border-radius: 8px;
}

.booking-popup-slots-container .active{
    background-color: #3987c9;
    color: white;
    border-radius: 8px;
}