.list-bookings-table-format{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 0.7fr 0.1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid #cacaca;
    font-size: 13px;
}

.list-title{
    display: flex;
    justify-content: space-between;
}

.list-title-right{
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 7px;
    margin-right: 5px;
}

.list-title-right:hover{
    color: #3987c9;
}

.list-bookings-table-format.title{
    background-color: #f9f9f9;
}

.booking-actions {
    display: flex;
    gap: 10px;
}

.approve:hover {
    color: #4CAF50;
}

.deny:hover, .remove:hover {
    color: #f44336;
}