.list-users-table-format {
    display: grid;
    grid-template-columns: 0.7fr 1fr 0.7fr 0.1fr;
    align-items: center;
    gap: 10px;
    padding: 12px 15px;
    border: 1px solid hsl(0, 0%, 79%);
    font-size: 13px;
}

.list-title {
    display: flex;
    justify-content: space-between;
}

.list-title-right {
    display: flex;
    cursor: pointer;
    align-items: center;
    gap: 7px;
    margin-right: 5px;
}

.list-title-right:hover {
    color: #3987c9;
}

.list-users-table-format.title {
    background-color: #f9f9f9;
}

.user-actions {
    display: flex;
    gap: 10px;
}

.upgrade:hover {
    color: #4CAF50;
}

.downgrade:hover, .remove:hover {
    color: #f44336;
}